.navbar-inner {
	background: white;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
}

.pitch {
	background: #34495e;
	color: whitesmoke;
	padding-top: 40px;
	padding-bottom: 40px;
}

.pitch-inherit {
	background: inherit;
	color: #777777;
	padding-top: 40px;
	padding-bottom: 40px;
}

.grey-accent {
	background: #F5F5F5;
}

.pitch-white {
	background: white;
	color: #888888;
	padding-top: 40px;
	padding-bottom: 80px;
}

footer {
	color: whitesmoke;
	background: #34495e;
}

.navbar .nav {
	margin: 10px 5px;
}

.navbar {
	margin-bottom: 0px;
}

.nav li {
	border-top: 2px solid white;
	transition-property: border-top;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:background-top;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	/* Firefox */
	-moz-transition-property:background-top;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
}

.nav li:hover {
	border-top: 2px solid #3da1ef;
	transition-property: background-top;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:background-top;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	/* Firefox */
	-moz-transition-property:background-top;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
}

.pitch .hero-unit {
	background: inherit;
}

/* Social styling */
.social {
	margin-right: 10px;
	padding: 5px;
	border-radius: 3em;
}

.facebook, .twitter, .googleplus {
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:box-shadow;
	-webkit-transition-duration:0.25s;
	-webkit-transition-timing-function:linear;
	/* Firefox */
	-moz-transition-property:box-shadow;
	-moz-transition-duration:0.25s;
	-moz-transition-timing-function:linear;
}

.facebook:hover {
	-moz-box-shadow: inset 0 0 15px 5px #3da1ef;
	-webkit-box-shadow: inset 0 0 15px 5px #3da1ef;
	box-shadow: inset 0 0 15px 5px #3da1ef;
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:box-shadow;
	-webkit-transition-duration:0.25s;
	-webkit-transition-timing-function:linear;
	/* Firefox */
	-moz-transition-property:box-shadow;
	-moz-transition-duration:0.25s;
	-moz-transition-timing-function:linear;
}

.twitter:hover {
	-moz-box-shadow: inset 0 0 15px 5px #3da1ef;
	-webkit-box-shadow: inset 0 0 15px 5px #3da1ef;
	box-shadow: inset 0 0 15px 5px #3da1ef;
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:box-shadow;
	-webkit-transition-duration:0.25s;
	-webkit-transition-timing-function:linear;
	/* Firefox */
	-moz-transition-property:box-shadow;
	-moz-transition-duration:0.25s;
	-moz-transition-timing-function:linear;
}

.googleplus:hover {
	-moz-box-shadow: inset 0 0 15px 5px #3da1ef;
	-webkit-box-shadow: inset 0 0 15px 5px #3da1ef;
	box-shadow: inset 0 0 15px 10px #3da1ef;
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:box-shadow;
	-webkit-transition-duration:0.25s;
	-webkit-transition-timing-function:linear;
	/* Firefox */
	-moz-transition-property:box-shadow;
	-moz-transition-duration:0.25s;
	-moz-transition-timing-function:linear;
}

.social-container {
	margin-top: 10px;
}

.footnote {
	border-top: dashed #CCCCCC 1px;
	margin-top: 10px;
	padding: 10px;
}
