.nav {
	text-align: center;
}

.nav > li > a {
	display: block;
}

.navbar p {
	font-size: .75em;
}

.header ul.nav li a {
	padding: 30px 20px 10px 20px;
	text-shadow: none;
}

.header ul.nav li.current-page a {
	padding-top: 25px;
	border-top: 5px solid rgb(255, 194, 73);
	background-color: #f8f8f8;
}

.navbar .nav > li:hover {
	background-color: rgb(255, 194, 73);
	color: #EEEEEE;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.5s;
	-webkit-transition-timing-function:linear;
	/* Firefox */
	-moz-transition-property:background-color;
	-moz-transition-duration:0.5s;
	-moz-transition-timing-function:linear;
}

.navbar .nav > li {
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.5s;
	-webkit-transition-timing-function:linear;
	/* Firefox */
	-moz-transition-property:background-color;
	-moz-transition-duration:0.5s;
	-moz-transition-timing-function:linear;
}

.current-page:hover {
	background-color: rgb(255, 194, 73) !important;
	color: #EEEEEE;	
}

#carousel-container {
	margin: 15px;
	padding: 15px;
}

.social {
	margin-right: 5px;
	padding: 5px;
	background-color: #9d9d9d;
	border: 2px solid #ffffff;
}

.social-container {
	margin-top: 15px;
}

footer, section {
	background-image: url('../img/ticks.png');
	-moz-box-shadow: inset 0 0 5px 5px #CCCCCC;
	-webkit-box-shadow: inset 0 0 5px 5px #CCCCCC;
	box-shadow: inset 0 0 5px 5px #CCCCCC;
}

.footnote {
	border-top: dashed #CCCCCC 1px;
	margin-top: 10px;
	padding: 10px;
}

.row {
	margin-bottom: 10px;
}

/* ribbon style */
/* ribbon styles credit to Craig Buckler from http://www.sitepoint.com/pure-css3-ribbons/*/

.ribbon-green {
	position: relative;
	width: 25%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 70px;
	margin: 30px 10px 10px -70px;
	color: #555;
	background-color: #51A351;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

.ribbon-green:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #438943 #438943 transparent transparent;
}

.ribbon-green:before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 0;
	right: -40px;
	top: 1px;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent transparent #51A351;
}

.ribbon-orange {
	position: relative;
	width: 25%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 70px;
	/*margin: 30px 10px 10px -70px;*/
	margin-left: -20px;
	color: #555;
	background-color: #EA7125;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

.ribbon-orange:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #ce6625 #ce6625 transparent transparent;
}

.ribbon-orange:before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 0;
	right: -40px;
	top: 1px;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent transparent #EA7125;
}

.ribbon-blue {
	position: relative;
	width: 20%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 70px;
	margin: 30px 10px 10px -70px;
	color: #555;
	background-color: #3482D6;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

.ribbon-blue:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #004CCC #004CCC transparent transparent;
}

.ribbon-blue:before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 0;
	right: -40px;
	top: 1px;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent transparent #3482D6;
}
